body {
  width: 100%;
  height: 590vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.grid-container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
}
@media (max-width:1200px) {
  .grid-container {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .grid-container {
    max-width: 750px;
  }
}
@media (max-width:767px) {
  .grid-container {
    max-width: none;
  }
}

.grid-container > div {
  font-family: Montserrat;
  text-align: center;
  font-size: 19px;
}
.gridd {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
.gridd > div {
  text-align: center;
  font-size: 19px;
}
.nav-toggle {
  margin-top: 20px;
}
.item1 {
   grid-row: 1 / 3;
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 30px;
}
.item2 {
  grid-column: 2 / 6;
}

.item4 {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}
.item4:hover {
  background: #EE82EE;
  border-right-color: #EE82EE;
}
.item5 {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}
.item5:hover {
  background: #EE82EE;
  border-right-color: #EE82EE;
}
.item6 {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}
.item7 {
  grid-row: 6 / 3;
}

/* форма поиска */
#searchform {
   float: center;
   margin-left: 2px;
   display: inline-block;
}

#searchform input {
   width: 550px;
   height: 25px;
   float: left;
   border: 10 px;
   padding-left: 20px;
   outline: none;
   color: black;
   font-size: 13px;
   border-radius: 17px;
   font-style: italic;
   font-weight: bold;
   cursor: pointer;
}
/* баннер */
.banner_image > img {
  max-width: 100%;
  min-width: 100%;
  margin: 0px 0px 20px 0px;
  object-position: 0 0;
}

.section {

}
@media (max-width: 576px) {
  .section {
    padding: 90px 0;
  }
}
@media (max-width: 576px) {
  .section__title {
    font-size: 36px;

  }
}

.catalog-nav {
  display: flex;
  justify-content: center;
}
.catalog-nav__wrapper {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 70px;
}
.catalog-nav__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 15px;
  min-width: 150px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 900;
  min-width: 0;
  width: 100%;
}
.catalog-nav__btn.is-active {
  background: black;
  color: white;
}
.catalog-nav__btn:hover {
  background: #EE82EE;
  border-right-color: #EE82EE;
}
.catalog-nav__item {
  width: 50%;
  flex-grow: 3;
}
@media(max-width: 615px) {
  .catalog-nav {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}


.section__title{
  font-size: 48px;
  font-family: Montserrat;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 40px;

}
.catalog {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 200;
}

.catalog .card {
  width: 270px;
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.catalog .card .product-image {
  width: 230px;
  margin: 20px auto;
}

.catalog .card .product-image img{
  width: 100%;
}

.catalog .card .product-image img:hover{
  transform: scale(1.1);
  transition: 0.4s;
}
.catalog .card .product-info h4{
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.catalog .card .btn{
  width: 100%;
}

.catalog .card .btn button{
  width: 100%;
  padding: 10px;
  background: #DDA0DD;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  border-radius: 0 0 15px 15px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 200;

}
#price {
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 900;
}
#inputt {
  border: 3px solid black;
}
#brend {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.catalog2 {
  padding: -50px;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 200;
}
.catalog2 .card {
  padding: -300px;
  width: 270px;
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.catalog2 .card .product-image {
  width: 230px;
  margin: 20px auto;
}

.catalog2 .card .product-image img{
  width: 100%;
}

.catalog2 .card .product-image img:hover{
  transform: scale(1.1);
  transition: 0.4s;
}
.catalog2 .card .product-info h4{
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.catalog2 .card .btn{
  width: 100%;
}

.catalog2 .card .btn button{
  width: 100%;
  padding: 10px;
  background: #DDA0DD;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  border-radius: 0 0 15px 15px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 200;

}

.dostavka {
  margin-left: 230px;
  max-width: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.dostavka .variant1 {
  padding: 0 -20px;
  width: 420px;
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  text-align: center;
}
#sposoby_dostavki {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
}
#pickup {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  justify-content: center;
}
.text_dostavka {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 700;
}

.hr_line1 {
  margin: -30px auto 10px;
 padding: 0;
 height: 50px;
 border: none;
 border-bottom: 1px solid #1f1209;
 box-shadow: 0 20px 20px -20px #333;
 width: 95%;
}
.hr_line2 {
  margin-top: 15px;
 height: 50px;
 border: none;
 border-bottom: 1px solid #1f1209;
 box-shadow: 0 20px 20px -20px #333;
 width: 95%;
}
.contacts{
  margin-left: 230px;
  max-width: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  font-size: 15px;
}
.contacts .contacts_1 {
  padding: 0 -20px;
  width: 260px;
  height: 200px;
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  text-align: center;
}
.soc_nets {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 12px;
}

.soc_nets > div {
  cursor: pointer;
  width: 30px;
  height: 20px;
  text-align: center;
  padding: 20px;
  justify-content: center;
}
#Vkontakte {
  margin-top: -30px;
}
#Instagram {
  margin-top: -30px;
}
#Twitter {
  margin-top: -30px;
}
#text {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 700;
}
